@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa',cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700MS ease-in;
    filter: grayscale(1);
    
}
.panel h1{
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active{
    flex:5;
    filter: grayscale(0);
    scale: 1;
    
}
.panel.active h1{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s ;
}
@media(max-width :480px){
    .container{
        width: 100vw;
        transition: opacity 0.3s ease-in o.4s;
    }
    .panel:nth-of-type(4)
    .panel:nth-of-type(5){
     display: none;
    }
    
    

}
    body{
        background: linear-gradient(to right, #868f96 0%, #596164 100%);
      }

      .backbtn{
        width: 100px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        margin: 0 5px;
        border: 1px solid #000;
        transition: 0.3s;
        background-color: #50b8f9;

      }
      .backbtn:hover{
        background: #abd9f6;
        color: #000000;
      }
/* .backbtn{
    height: 100vh;
} */

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}